

.swiper-button-next,
.swiper-button-prev {
  // outline: 1px solid red;
  color: #d6b34b !important;
  width: fit-content !important;
  top: 20% !important;
  transform: scale(.5);
  opacity: .8;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
}

@media (max-width: 55em) {
  .swiper-button-next,
  .swiper-button-prev {
  top: 10% !important;
  transform: scale(.25) !important;
  opacity: .8;
}
}